<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<categories>
			<general>
				<isenabled>1</isenabled>
				<title_module>SM Categories</title_module>
			</general>

			<source>
				<select_category></select_category>
				<limitation>5</limitation>
			</source>
		</categories>
	</default>
</config>