<?xml version="1.0"?>
<!--
  ~ @author Andres Felipe Parra Ferreira <andresferreira3191@gmail.com> || LentesPlus Team
  ~ @copyright Copyright (c) 2020 Lentesplus (https://www.lentesplus.com)
  ~ @package Operaciones_BlueExpress
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="OY_Registry::apiregistry" title="ApiRegistry" translate="title" sortOrder="110" />
            </resource>
        </resources>
    </acl>
</config>
