<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="luxand" sortOrder="49" translate="label">
            <label>Luxand</label>
        </tab>
        <section id="luxand_general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>General</label>
            <tab>luxand</tab>
            <resource>OY_Registry::config_oy_registry</resource>
            <group id="config_general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Config</label>
                <field id="token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Token</label>
                </field>
                <field id="url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Url Rest</label>
                </field>
            </group>
        </section>
    </system>
</config>
