@media (min-width: 1200px) {
    .cms-home-demo-07 {
        .page.messages .messages .message {
            margin-left: 25%;
            margin-top: 20px;
        }
    }

    .home-page-7 {

        .listingtab-custom {
            .sm-listing-tabs {
                .ltabs-items-container {
                    margin-left: 300px;
                }
            }
        }

        .ltabs-loading-first,
        .ltabs-loading {
            min-height: 862px !important;
        }

        .imgsl-preload {
            height: 540px !important;
        }
    }

    .sm-categories {
        .cat-wrap {
            .item {
                float: left;
                width: 25%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(4n+1) {
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-7 {
        .listingtab-custom {
            .custom-image {
                display: none;
            }
        }
    }

    .sm-categories {
        .cat-wrap {
            .item {
                float: left;
                width: 33.33%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(3n+1) {
                    clear: both;
                }
            }
        }
    }

    .home-page-7 .services-home .banner-policy .inner .policy {
        padding: 7px 20px;

        a span {
            padding-left: 20px;
        }
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-7 {
        .listingtab-custom {
            .custom-image {
                display: none;
            }
        }

        .left-banner-wrapper {
            .banner-v71 {
                display: table;
                width: 100%;
                margin-left: 0;
                margin-right: 0;

                a {
                    float: left;
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .deal-content-wrapper {
            clear: both;

            .slider-deal-type2 {
                padding-bottom: 30px;
            }
        }
    }

    .sm-categories {
        .cat-wrap {
            .item {
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
    }

    .home-page-7 .services-home .banner-policy .inner .policy {
        width: 50%;
        margin: 10px 0;
    }

    .home-page-7 .banner-top .static-image-2 .image-top {
        margin-bottom: 18px;
    }
}

@media (max-width: 767px) {
    .home-page-7 {
        .static-image-2 .static-image {
            float: left;
            width: 33.33%;
            margin-bottom: 30px;
        }

        .services-v7 {
            .item-sv {
                margin: 15px 0;

                img {
                    width: 100%;
                }
            }
        }

        .listingtab-custom {
            .custom-image {
                display: none;
            }

            .sm-listing-tabs .ltabs-tabs-container {
                top: -63px !important;
            }
        }

        .left-banner-wrapper {
            .banner-v71 {
                display: table;
                width: 100%;
                margin-left: 0;

                a {
                    float: left;
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .deal-content-wrapper {
            clear: both;

            .slider-deal-type2 {
                padding: 20px 20px 30px;

                .products-grid .item .item-inner {
                    .box-image {
                        float: none;
                        width: 100%;
                        padding: 0;
                    }

                    .box-info {
                        float: none;
                        padding-right: 0 !important;
                        width: 100%;

                        .product-name a {
                            white-space: normal;
                        }
                    }
                }

                .owl-controls .owl-nav {
                    .owl-prev {
                        left: -20px;
                    }

                    .owl-next {
                        right: -20px;
                    }
                }
            }
        }
    }

    .sm-categories {
        .cat-wrap {
            .item {
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
    }

    .home-page-7 .services-home .banner-policy .inner {
        padding: 0;

        .policy {
            width: 100%;
            float: none;
            border: none;

            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }

            a {
                padding: 15px 0;
            }
        }
    }

    .banner-top {
        .static-image {
            a {
                margin-bottom: 10px !important;
            }
        }
    }

    .home-page-7 .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
        top: -42px !important;

        .ltabs-tabs-wrap {
            border-color: #eee;
            height: 32px;
            line-height: 32px;
        }
    }
}

@media (max-width: 480px) {
    .home-page-7 .static-image-2 .static-image {
        float: none;
        width: 100%;
    }

    .sm-categories {
        .cat-wrap {
            .item {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                clear: both;
            }
        }
    }
}